body {
    background: url(../images/page/sky.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------- Page and Logo----------*/
.page {
    max-width: 960px;
    margin: auto;
    background-color: #37DCFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 30px;
}
.logo {
    display: flex;
}
.logo-center {
    width: 50%;
    text-align: center;
}
.logo-center h1 {
    font-size: 64px;
    color: #003d57;
    
}
#info {
    width: 40%;
}
.start-game {
    text-align: center;
}
.enter-msg {
    padding: 10px;
    font-size: 30px;
    color: #003d57;
}
.info {
    margin: 0;
    font-size: 24px;
    color: #003d57;
}
.info p {
    margin: 0;
}
/*---------- Game area ----------*/
.hit {
    text-align: center;
}
/*--------- Play Button----------*/
.welcome {
    text-align: center;
}
.btn {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 30px;
    font-size: 64px;
    background-color:#FF812C ;
    color: #003d57;
    text-decoration: none;
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn:active {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 30px;
    transform: translateY(4px);
}
.space {
    height: 50px;
}
/*--------- Game statistics ---------*/
.play-stats {
    display: flex;
}
.stats-info-right {
    display: grid;
    width: 50%;
    text-align: center;
    font-size: 32px;
    color: #003d57;
}
.popup {
    display: grid;
    width: 50%;
    text-align: center;
    font-size: 32px;
    color: #003d57;
}
.stats-info-right p {
    margin: 0;
    color: #003d57;
}
.popup p {
    margin: 0;
    color: #003d57;
}


#clickCarrot {
    width: 35%;
}

/*----------Friends / Upgrades---------*/
.help-upgrades {
    display: grid;
}
.help {
    display: grid;
    text-align: center;
}
.upgrades {
    display: grid;
    text-align: center;
}
.upgrades h2 {
    color: #003d57;
    font-size: 36px;
}
.help h2 {
    color: #003d57;
    font-size: 36px;
}
.object {
    display: flex;
}
.pic {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details {
    width: 40%;
    
}
.details p {
    margin: 7px;
    font-size: 22px;
    color: #003d57;
}
.button {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buyButton {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 30px;
    font-size: 34px;
    background-color:#FF812C ;
    color: #003d57;
    padding: 10px;
}
.buyButton:active {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 30px;
    transform: translateY(2px);
}
.friends {
    width: 35%;
    border-radius: 50%;
}
.upgrades-pic {
    width: 35%;
}

/*---------- Footer ---------*/

.frame {
    text-align: center;
}
.media {
    display: flex;
    justify-content: space-around;
}
.personal p {
    font-size: 20px;
    color: #003d57;
}

/*---------- All media ----------*/
@media screen and (max-width: 800px) {
    .btn {
        font-size: 58px;
    }
    .logo-center h1 {
        font-size: 58px;
    }
    .stats-info-right {
        font-size: 30px;
    }
    .stats-info-right p {
        font-size: 30px;
    }
    .popup {
        font-size: 30px;
    }
    .popup p {
        font-size: 30px;
    }
    .details p {
        font-size: 21px;
    }
    .buyButton {
        font-size: 30px;
    }
    .upgrades h2 {
        font-size: 30px;
    }
    .help h2 {
        font-size: 30px;
    }
    .enter-msg {
        font-size: 28px;
    }
    .info {
        font-size: 22px;
    }
}  

@media screen and (max-width: 700px) {
    .btn {
        font-size: 54px;
    }
    .logo-center h1 {
        font-size: 50px;
    }
    .stats-info-right {
        font-size: 26px;
    }
    .stats-info-right p {
        font-size: 26px;
    }
    .popup {
        font-size: 26px;
    }
    .popup p {
        font-size: 26px;
    }
    .details p {
        font-size: 19px;
    }
    .buyButton {
        font-size: 25px;
    }
    .upgrades h2 {
        font-size: 26px;
    }
    .help h2 {
        font-size: 26px;
    }
    .enter-msg {
        font-size: 26px;
    }
    .info {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .btn {
        font-size: 50px;
    }
    .logo-center h1 {
        font-size: 46px;
    }
    .stats-info-right {
        font-size: 24px;
    }
    .stats-info-right p {
        font-size: 24px;
    }
    .popup {
        font-size: 24px;
    }
    .popup p {
        font-size: 24px;
    }
    .details p {
        font-size: 17px;
    }
    .buyButton {
        font-size: 20px;
    }
    .upgrades h2 {
        font-size: 24px;
    }
    .help h2 {
        font-size: 24px;
    }
    .enter-msg {
        font-size: 24px;
    }
    .info {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .btn {
        font-size: 46px;
    }
    .logo-center h1 {
        font-size: 40px;
    }
    .stats-info-right {
        font-size: 23px;
    }
    .stats-info-right p {
        font-size: 23px;
    }
    .popup {
        font-size: 23px;
    }
    .popup p {
        font-size: 23px;
    }
    .details p {
        font-size: 15px;
    }
    .buyButton {
        font-size: 15px;
    }
    .upgrades h2 {
        font-size: 22px;
    }
    .help h2 {
        font-size: 22px;
    }
    .enter-msg {
        font-size: 22px;
    }
    .info {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .btn {
        font-size: 38px;
    }
    .logo-center h1 {
        font-size: 37px;
    }
    .stats-info-right {
        font-size: 21px;
    }
    .stats-info-right p {
        font-size: 21px;
    }
    .popup {
        font-size: 21px;
    }
    .popup p {
        font-size: 21px;
    }
    .details p {
        font-size: 13px;
    }
    .buyButton {
        font-size: 13px;
    }
    .upgrades h2 {
        font-size: 20px;
    }
    .help h2 {
        font-size: 20px;
    }
    .enter-msg {
        font-size: 19px;
    }
    .info {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .btn {
        font-size: 30px;
    }
    .logo-center h1 {
        font-size: 33px;
    }
    .stats-info-right {
        font-size: 18px;
    }
    .stats-info-right p {
        font-size: 18px;
    }
    .popup {
        font-size: 18px;
    }
    .popup p {
        font-size: 18px;
    }
    .details p {
        font-size: 11px;
    }
    .buyButton {
        font-size: 11px;
    }
    .upgrades h2 {
        font-size: 19px;
    }
    .help h2 {
        font-size: 19px;
    }
    .enter-msg {
        font-size: 16px;
    }
    .info {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .btn {
        font-size: 23px;
    }
    .logo-center h1 {
        font-size: 28px;
    }
    .stats-info-right {
        font-size: 15px;
    }
    .stats-info-right p {
        font-size: 15px;
    }
    .popup {
        font-size: 15px;
    }
    .popup p {
        font-size: 15px;
    }
    .details p {
        font-size: 10px;
    }
    .buyButton {
        font-size: 10px;
    }
    .upgrades h2 {
        font-size: 18px;
    }
    .help h2 {
        font-size: 18px;
    }
    .enter-msg {
        font-size: 13px;
    }
    .info {
        font-size: 9px;
    }
}

@media screen and (max-width: 300px) {
    .btn {
        font-size: 20px;
    }
    .logo-center h1 {
        font-size: 25px;
    }
    .stats-info-right {
        font-size: 13px;
    }
    .stats-info-right p {
        font-size: 13px;
    }
    .popup {
        font-size: 13px;
    }
    .popup p {
        font-size: 13px;
    }
    .details p {
        font-size: 9px;
    }
    .buyButton {
        font-size: 9px;
    }
    .upgrades h2 {
        font-size: 16px;
    }
    .help h2 {
        font-size: 16px;
    }
    .enter-msg {
        font-size: 11px;
    }
    .info {
        font-size: 7px;
    }
}